.heading {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: 98vh;
  flex-direction: column;
}

.borderCircle {
  border-radius: 9999px;
}